<settings>
  <servers>
    <server>
      <id>artifactory</id>
      <username>{{jenkins_artifactory_username}}</username>
      <password>{{jenkins_artifactory_password}}</password>
    </server>
  </servers>
</settings>
